<div class="container">
  <h2>タスクの編集</h2>
  <p><%= render 'form', task: @task %></p>

  <p><%= link_to 'show', @task, class: "btn btn-default" %>
  <%= link_to 'back', tasks_path, class: "btn btn-default" %></p>
</div>
